<template>
  <div class="main-body" id="app" style="font-family: 'Sarabun', sans-serif;">
    <component :is="layout">
      <router-view :layout.sync="layout"/>
    </component>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      layout: "div"
    };
  }
};
</script>

<style>
li, a {
  color: white;
}
</style>
